:root {
    --ibm-font: "IBM Plex Mono", serif;
    --ibm-normal-weight: 500;
    --ibm-bold-weight: 700;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

h5, h6, p, span, div, input {
    font-family: var(--ibm-font);
    font-weight: var(--ibm-normal-weight);
    color: #fff;
}

h1, h2, h3 {
    font-family: var(--ibm-font);
    font-weight: var(--ibm-bold-weight);
    color: #fff;
}

body {
    margin: 0;
}

a:visited {
    color: #fff;
}